
  Image {
    margin-top: 5;
    margin-bottom: 10;
  }
  Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 5;
  }
  .submit-button {
    background-color:	#1d95df;
    color: white;
    margin-top: 10;
  }
  .submit-button-signup {
    background-color:	white;
    color: black;
    margin-top:5;
  }